arabic-reshaper
asgiref
colorama
dj-database-url
Django
django-admin-interface==0.19.1
django-crispy-forms
django-ckeditor==6.5.1
django-colorfield==0.8.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
future
gunicorn
html5lib
httplib2
install
opencv-contrib-python
Pillow
psycopg2-binary
pyasn1
pyasn1-modules
pyparsing
pytz
pyzbar
qrcode
reportlab
rsa
six
sqlparse
uritemplate
webencodings
whitenoise
xhtml2pdf
